* {
    font-family: 'Shippori Mincho B1', serif;
    /* border: thin solid red; */
    box-sizing: border-box;
}

body {
    background-image: url(empty-studio.jpg);
    background-color: rgb(251, 251, 251);
    /* background-position-y: -150px; */
    background-size: cover;
    background-position: bottom;
    background-position-y: -20vh;
    background-attachment: fixed;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

#projects, #contact{
    display: none;
}

div {
    /* border : thin solid black; */
}

.top {
    display: flex;
}

.project-space {
    scroll-snap-type: x mandatory;
    display: flex;
    overflow: scroll;
    /* display: none; */

}

section {
    scroll-snap-align: start;
    /* scroll-snap-type: x mandatory; */

    /* overflow-x: hidden; */
}

.slides > section:target{
    transform: scale(0.8);
}

.container {
    display: flex;
}

.headline {
    align-self: flex-end;
}

h1 {
    padding-left: 30px;
    margin: 0px;
}

h2 {
    padding-left: 30px;
    margin: 5px, 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 5px, 0;
}

.top {
    height: 20vh;
}

.left {
    width: 40vw;
}

.right {
    width: 40vw;
    margin-right: 20vw;
}

.text {
    /* width: 50%; */
}


.frame {
    /* max-width: 70%; */
    margin-top: -10px;
}

img {
    width: 70%;
    float: right;
    /* position: absolute; */
    /* left: 0; */
}

.contactImage {
    width: 40%;
}

menu {
    text-align: center;
}

#submenu {
    align-self: center;
    text-align: center;
    margin: 0 auto;
    border-top: thin solid grey;
    width: 50vw;
    visibility: hidden;

}

#submenu ul {
    /* border: thin solid green; */
    padding: 10px;
}

p {
    padding-left: 30px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    padding: 40px;
  }



  @media only screen and (max-width: 768px) {
      /* for mobile  */
      body {
          background-position-y: 0;

      }

      .container {
          /* display: block; */
          border: thin solid green;
          position: static;
          flex-direction: column;
      }



      .frame {
          /* display: block; */
          /* width: 100vw; */
          width: 80vw;
          margin: auto;
          /* border: thick solid orange; */
        margin-top: 0;
      }

      .top {
          height: 10vh;
          display: block;
      }
      
      .headline {
        /* display: inline; */
        /* border: thick solid tan; */
        position: relative;
        margin: auto;
        /* align-self: default; */
        width: 100vw;
        text-align: center;
        margin-top: 20px;
      }

      img {
          width: 100%;
      }

      .text {
          /* width: 100vw; */
          /* display: block; */
          /* border: thin solid blue; */
          width: 80vw;
          margin: auto;
          float: none;
      }

      #submenu ul {
        /* border: thin solid green; */
        padding: 5px;
    }
  }