* {
    font-family: 'Shippori Mincho B1', serif;
    /* border: thin solid red; */
    box-sizing: border-box;
}

body {
    background-image: url(empty-studio.jpg);
    background-color: rgb(238, 238, 238);
    /* background-position-y: -150px; */
    background-size: cover;
    background-position: bottom;
    background-position-y: -20vh;
    background-attachment: fixed;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

#projects, #contact{
    display: none;
}

div {
    /* border : thin solid black; */
}

.top {
    display: flex;
}

.project-space {
    scroll-snap-type: x mandatory;
    display: flex;
    overflow: scroll;
    /* display: none; */

}

section {
    scroll-snap-align: start;
    /* scroll-snap-type: x mandatory; */

    /* overflow-x: hidden; */
}

.slides > section:target{
    transform: scale(0.8);
}

.container {
    display: flex;
    border: thin solid red;
}

.headline {
    align-self: flex-end;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.top {
    height: 25vh;
}

.left, .right {
    /* border-color: blue; */
}

.left {
    width: 40vw;
}

.right {
    width: 40vw;
    margin-right: 20vw;
}

.text {
    /* width: 50%; */
}

.frame {
    max-width: 70%;
    margin-top: -10px;
}

img {
    width: 70%;
    float: right;
    /* position: absolute; */
    /* left: 0; */
}

menu {
    text-align: center;
}

#submenu {
    align-self: center;
    text-align: center;
    margin: 0 auto;
    border-top: thin solid grey;
    width: 50vw;
    visibility: hidden;

}

#submenu ul {
    /* border: thin solid green; */
    padding: 10px;
}

p {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    padding: 40px;
  }